/* RESET START */
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	color: #34404b;
	font:  12px/1 "Harmonia_regular", sans-serif;
	background-color: #f7f7f8;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
}
input, textarea, button{
	outline: none;
	border: none;
}
textarea{
	resize: vertical;
}
button{
	cursor: pointer;
}
/* RESET END */

/* DEFAULT CLASSES START */
.flex-container{
	display: flex;
}
.aling-center{
	align-items: center;
}
.justify-sp-between{
	justify-content: space-between;
}
.orange-text{
	color: #ff5912;
}
/* DEFAULT CLASSES END */

/* DEFAULT COMPONENT START */
.custom-icon{
	display: inline-block;
}
.title{
	font-family: 'Harmonia_black';
	text-transform: uppercase;
	font-size: 36px;
	margin-bottom: 25px;
}
.title.big{
	font-size: 52px;
}
.subtitle{
	display: block;
	font-size: 16px;
	color: #495662;
	margin-bottom: 70px;
}
.default-section{
	padding: 60px 0;
}
.item{
	background-color: #fff;
	padding: 30px 10px;
	transition: all .3s linear;
	text-align: center;
}
.item:hover{
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.item .item-title{
	font-size: 18px;
	margin: 28px 0;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item .item-price{
	color: #ff5912;
	font-size: 18px;
	font-weight: bold;
}
header .top-header{
	border-bottom: 1px solid #edeff1;
	padding: 20px 0;
}
header .top-header .phone-list li+li{
	margin-left: 20px;
}
header .top-header .phone-list li span.custom-icon{
	margin-right: 10px;
}
header .top-header .social-nav a+a{
	margin-left: 20px;
}
.items-carousel{
	min-height: 650px;
	background: url(../img/carousel-img-1.png) no-repeat center / cover;
}
header .bottom-header{
	padding: 42px 0;
}
header .bottom-header .logo{
	margin-right: 80px;
}
.bottom-header .header-nav{
	color: #34404b;
	font-size: 16px;
}
.bottom-header .header-nav li+li{
	margin-left: 30px;
}
.bottom-header .header-nav a:hover{
	color: #ff5912;
	text-decoration: none;
}
.bottom-header .user-controls{
	margin-left: auto;
}
.bottom-header .user-controls a+a{
	margin-left: 30px;
}
.circle{
	display: inline-block;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #ff5912;
	vertical-align: middle;
}
footer{
	background-color: #fff;
	width: 100%;
	height: 245px;
	padding: 84px 0;
}
.footer-logo span{
	display: block;
	font-size: 14px;
	line-height: 2.14em;
	margin-top: 22px;
}
.footer-col{
	font-size: 14px;
	line-height: 2.14em;
	list-style: disc;
}
.footer-col li:hover,
.footer-col a:hover{
	color: #ff5912;
	text-decoration: none;
}
.payment-methods{
	padding: 10px 0;
}
.payment-methods span{
	color: #ff5912;
	font-size: 16px;
	line-height: 1.87em;
	font-weight: 600;
	margin-bottom: 12px;
	display: inline-block;
}
.payment-methods .cards-icons li+li{
	margin-left: 10px;
}
/* DEFAULT COMPONENT END */
/* ALL STYLES START */
.user-controls-icon{
	position: relative;
}
.items-carousel-description h6{
	font-size: 18px;
	line-height: 1.6em;
	font-weight: 600;
	margin-bottom: 17px; 
}
.user-controls-icon span{
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 18px;
	width: 18px;
	border-radius: 50%;
	background-color: #34404b;
	position: absolute;
    left: 4px;
    bottom: 18px;
}
.new-item{
	margin-bottom: 80px;
}
.load-more{
	line-height: 60px;
	text-align: center;
	background-color: #fff;
	margin-bottom: 119px;
}
.special-offer-sale{
	height: 100px;
	background-color: #fff;
}
.sale-banner{
	display: inline-block;
	height: 80px;
	width: 80px;
	color: #fff;
	background-color: #ff5912;
	text-align: center;
	padding: 22px;
	margin-left: 62px;
}
.sale-banner-content h6{
	font-size: 12px;
	font-style: italic;
	margin-bottom: 7px;
}
.sale-banner-content span{
	font-size: 18px;
	font-weight: 900;
}
.sale-description h5{
	font-size: 22px;
	font-weight: 900;
	text-transform: uppercase;
}
.sale-description span{
	line-height: 2.5em;
}
.sale-price{
	font-size: 32px;
	font-weight: 900;
	margin-right: 55px;
}
.sale-price .sale-price-value{
	font-size: 22px
}
.sale-price .sale-price-icon{
	display: inline-block;
	margin-right: 10px;
}
.special-offer-area{
	height: 100px;
	background-color: #fff;
	padding: 27px 0;
}
.offer-area-text{
	display: block;
	font-size: 16px;
	margin-bottom: 15px;
}
.offer-area-numbers{
	display: block;
	color: rgba(52, 64, 75, .4);
	letter-spacing: .6em;
}
/* ALL STYLES END */